@font-face {
    font-family: "HelveticaNeueCyrMedium";
    src: url("fonts/HelveticaNeueCyr-Medium.eot");
    src: url("fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("fonts/HelveticaNeueCyr-Medium.svg#helveticaneuecyrmedium") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyrBlack";
    src: url("fonts/HelveticaNeueCyr-Black.eot");
    src: url("fonts/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("fonts/HelveticaNeueCyr-Black.ttf") format("truetype"), url("fonts/HelveticaNeueCyr-Black.svg#helveticaneuecyrblack") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "HelveticaNeueCyrBlack", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    text-align: left;
    text-transform: uppercase;
    transition: 0.15s font-size linear;
}

a {
    text-decoration: none;
    color: #0049ed;
    transition: 0.15s linear color;
    outline: none;
}


a:hover, a:active, a:focus {
    text-decoration: none;
    color: #316df3;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.pull-left {
    float: left;
}


.pull-right {
    float: right;
}

.font-medium {
    font-family: "HelveticaNeueCyrMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    width: 100%;
    background: url("samara_js_images/main-bg.jpg") no-repeat 50% 50% #002475;
    background-size: cover;
    overflow: hidden;
    padding: 55px 10% 0;
}


.main-container {
    position: relative;
}


.header {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}

.header-primary-menu li {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    color: white;
    margin-left: 230px;
    white-space: nowrap;
    transition: 0.15s linear margin-right;
}

.header-primary-menu li.size-sm {
    font-size: 0.8em;
}

.header-primary-menu li:first-child {
    margin-left: 0;
}

.header-secondary-menu li {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.6em;
    margin-left: 35px;
    white-space: nowrap;
}

.header-secondary-menu li:first-child {
    margin-left: 0;
}

.cloud-cafe-logo {
    display: block;
    overflow: hidden;
    text-indent: -1000px;
    width: 95px;
    height: 114px;
    position: relative;
}

.cloud-cafe-logo:before, .cloud-cafe-logo:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 100% 100% !important;
    transition: 0.15s linear opacity;
}

.cloud-cafe-logo:before {
    opacity: 1;
    background: url("samara_js_images/cloud-cafe-logo.png") no-repeat 0 0;
}

.cloud-cafe-logo:after {
    opacity: 0;
    background: url("samara_js_images/cloud-cafe-logo-hover.png") no-repeat 0 0;
}

.cloud-cafe-logo:hover:before, .cloud-cafe-logo:active:before, .cloud-cafe-logo:focus:before {
    opacity: 0;
}

.cloud-cafe-logo:hover:after, .cloud-cafe-logo:active:after, .cloud-cafe-logo:focus:after {
    opacity: 1;
}

.page-title-wrapper {
    text-align: center;
    padding: 65px 0 95px;
}

.page-title {
    margin: 0 0 0 -160px;
    max-width: 85%;
    font-size: 4.352em;
    line-height: 0.9em;
    display: inline-block;
    text-align: left;
}

.page-title .bottom-part {
    display: block;
    margin-top: -0.9em;
    padding-left: 1.9em;
    color: #f580b7;
}

.reports-list {
    margin: 0 0 -80px 0;
}

.report-item {
    display: inline-block;
    vertical-align: top;
    width: 32.7%;
    margin: 0 0 80px 0;
    transition: 0.15s linear width;
}

.report-item .front-part {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-right: 15%;
    margin-right: -110%;
    position: relative;
    z-index: 2;
}

.report-item .back-part {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    position: relative;
    z-index: 1;
    margin-top: 50px;
}

.report-title {
    color: #f580b7;
    font-size: 1.7em;
    line-height: 1em;
}

.report-subtitle {
    color: white;
    font-size: 1.7em;
    line-height: 1em;
}

.report-author-name {
    color: #a6fcff;
    font-size: 0.9em;
    line-height: 3em;
}
.report-author-name a {
    text-decoration: underline;
    color: #a6fcff;
    font-size: 0.9em;
    line-height: 3em;
}

.report-author-name a:hover, .report-author-name a:active, .report-author-name a:focus {
    color: #67a9f3;
}


.report-description {
    color: #0049ed;
    font-size: 0.6em;
    line-height: 3.33em;
}

.right-side-panel {
    position: fixed;
    right: 25px;
    top: 50%;
    width: 1000px;
    line-height: 50px;
    text-align: center;
    margin-right: -500px;
    margin-top: -25px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.copyright-info li {
    display: inline-block;
    vertical-align: middle;
    color: #0047e6;
    font-size: 0.5em;
    line-height: 1em;
    margin-left: 30px;
    letter-spacing: 0.8em;
    transition: 0.15s letter-spacing linear;
}

.copyright-info li:first-child {
    margin-left: 0;
}


.footer-placeholder {
    height: 140px;
}

.footer {
    text-align: right;
    position: absolute;
    right: 5%;
    left: 0;
    bottom: 55px;
}

.footer-menu li {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7em;
    letter-spacing: 0.03em;
    margin-left: 50px;
}

.footer-menu li:first-child {
    margin-left: 0;
}

.footer-menu li a {
    color: #a6fcff;
}

.footer-menu li a:hover, .footer-menu li a:active, .footer-menu li a:focus {
    color: #326ef3;
}


.icon-vk-footer {
    position: relative;
    padding-left: 45px;
}

.icon-vk-footer:before, .icon-vk-footer:after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 30px;
    height: 17px;
    background-size: 100% 100% !important;
    transition: 0.15s linear opacity;
}

.icon-vk-footer:before {
    background: url("samara_js_images/icon-vk.png") no-repeat 0 0 transparent;
    opacity: 1;
}

.icon-vk-footer:after {
    background: url("samara_js_images/icon-vk-hover.png") no-repeat 0 0 transparent;
    opacity: 0;
}

.icon-vk-footer:hover:before, .icon-vk-footer:active:before, .icon-vk-footer:focus:before {
    opacity: 0;
}

.icon-vk-footer:hover:after, .icon-vk-footer:active:after, .icon-vk-footer:focus:after {
    opacity: 1;
}

.icon-fb-footer {
    position: relative;
    padding-left: 38px;
}

.icon-fb-footer:before, .icon-fb-footer:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 21px;
    height: 21px;
    background-size: 100% 100% !important;
    transition: 0.15s linear opacity;
}

.icon-fb-footer:before {
    background: url("samara_js_images/icon-fb.png") no-repeat 0 0 transparent;
    opacity: 1;
}

.icon-fb-footer:after {
    background: url("samara_js_images/icon-fb-hover.png") no-repeat 0 0 transparent;
    opacity: 0;
}

.icon-fb-footer:hover:before, .icon-fb-footer:active:before, .icon-fb-footer:focus:before {
    opacity: 0;
}

.icon-fb-footer:hover:after, .icon-fb-footer:active:after, .icon-fb-footer:focus:after {
    opacity: 1;
}

@media (max-height: 570px) {
    .copyright-info li {
        letter-spacing: 0.7em;
    }
}

@media (max-height: 520px) {
    .copyright-info li {
        letter-spacing: 0.6em;
    }
}

@media (max-height: 490px) {
    .copyright-info li {
        letter-spacing: 0.5em;
    }
}

@media (max-height: 440px) {
    .copyright-info li {
        letter-spacing: 0.4em;
    }
}

@media (max-height: 400px) {
    .copyright-info li {
        letter-spacing: 0.2em;
    }
}

@media (max-height: 330px) {
    .copyright-info li {
        letter-spacing: 0;
    }
}

@media (min-width: 2000px) {
    body {
        font-size: 22px;
    }
}

@media (max-width: 1650px) {
    .report-item {
        width: 49.5%;
    }
    .header-primary-menu li {
        margin-left: 180px;
    }
}

@media (max-width: 1500px) {
    .page-title {
        margin-left: -90px;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }
    .wrapper {
        padding-top: 40px;
    }
    .header-primary-menu li {
        margin-left: 130px;
    }
    .page-title-wrapper {
        padding: 45px 0 75px;
    }
    .page-title{
        margin-left: -60px;
    }
    .reports-list {
        margin-bottom: -60px;
    }
    .report-item {
        margin-bottom: 60px;
    }
}

@media (max-width: 950px) {
    body {
        font-size: 12px;
    }
    .wrapper {
        padding-left: 7%;
        padding-right: 7%;
    }
    .header-primary-menu li {
        margin-left: 100px;
    }
}

@media (min-width: 768px) {
    .show-in-sm {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .show-in-sm {
        display: block !important;
    }
    .hidden-in-sm {
        display: none !important;
    }
    body {
        font-size: 10px;
    }
    .wrapper {
        padding: 25px 6% 0;
    }
    .header-primary-menu li {
        display: block;
        margin-left: 0;
        margin-top: 3px;
    }
    .header-primary-menu li:first-child {
        margin-top: 0;
    }
    .header-secondary-menu li {
        display: block;
        margin-left: 0;
    }
    .right-side-panel {
        right: 10px;
    }
    .page-title-wrapper {
        padding: 25px 0 40px;
    }
    .reports-list {
        margin-bottom: -25px;
    }
    .report-item {
        margin-bottom: 25px;
    }
    .report-item .front-part {
        margin-left: 7%;
        margin-right: -107%;
    }
    .report-item .back-part {
        margin-top: 23px;
    }
    .report-title, .report-subtitle {
        line-height: 1.1em;
    }
    .report-description {
        line-height: 2.5em;
    }
    .footer-placeholder {
        height: 70px;
    }
    .footer {
        text-align: center;
        bottom: 25px;
    }
    .footer-menu li {
        margin-left: 35px;
    }
    .icon-vk-footer {
        padding-left: 30px;
    }
    .icon-vk-footer:before, .icon-vk-footer:after {
        top: -3px;
        width: 22px;
        height: 12px;
    }
    .icon-fb-footer {
        padding-left: 25px;
    }
    .icon-fb-footer:before, .icon-fb-footer:after {
        top: -4px;
        width: 15px;
        height: 15px;
    }
    .cloud-cafe-logo {
        width: 83px;
        height: 100px;
    }
}

@media (max-width: 650px) {
    .page-title {
        font-size: 3.5em;
    }
}

@media (max-width: 600px) {
    .page-title-wrapper{
        text-align: left;
    }
    .page-title {
        margin-left: 0;
        max-width: none;
        font-size: 3.2em;
    }
    .report-item {
        font-size: 0.8em;
    }
}

@media (max-width: 530px) {
    .report-item {
        width: auto;
    }
}

@media (min-width: 470px) {
    .show-in-xs {
        display: none !important;
    }
}

@media (max-width: 470px) {
    .show-in-xs {
        display: block !important;
    }
    .hidden-in-xs {
        display: none !important;
    }
    .page-title {
        font-size: 2.8em;
        line-height: 1em;
        margin-left: 0;
        max-width: none;
    }
    .page-title .bottom-part {
        margin-top: 0;
        padding-left: 0;
    }
    .cloud-cafe-logo {
        width: 66px;
        height: 80px;
    }
}

@media (max-width: 350px) {
    .page-title {
        font-size: 2.45em;
    }
}

@media (max-width: 250px) {
    body {
        font-size: 8px;
    }
    .cloud-cafe-logo {
        width: 58px;
        height: 70px;
    }
}
