<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="SamaraJS - конференция фронтенд разработчиков в Самаре, {{ str_date }}.">
  <meta property="og:title" content="SamaraJS - фронтенд конференция {{ str_date }}." />

  <title>SamaraJS - конференция фронтенд разработчиков - {{ str_date }}</title>

  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>

  <nav>
    <ul>
      <li><a href="https://samarajsin.herokuapp.com/">Slack</a></li>
      <li><a href="https://vk.com/samarajs">ВКонтакте</a></li>
      <li><a href="https://www.facebook.com/groups/781796485233473/">Facebook</a></li>
      <li><a href="https://github.com/Deepwalker/samarajs/">GitHub</a></li>
    </ul>
    <ul>
      {% for meetup in meetups %}
      {% if meetup.number == number %}
      <li><em><time datetime="{{ meetup.date }}">{{ meetup.str_date }}</time></em></li>
      {% else %}
      <li><a href="/{% if loop.index != 1 %}date-{{ meetup.date }}.html{% endif %}"><time datetime="{{ meetup.date }}">{{ meetup.str_date }}</time></a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <header>
    <h1>
      <em>Samara JS</em>: Технологии современного фронтенда
    </h1>

    <p>
      {{ title }} митап {% if completed %}состоялся{% else %}состоится{% endif %}
      <em><time datetime="{{ date }} {{ time }}">{{ str_date }}{% if not completed %} в {{ time }}{% endif %}</time></em>
      {% if place %}<br/>{{ place }}{% endif %}
    </p>
  </header>

  <main>
    <ul>
      {% for talk in talks %}
      <li class="{% if talk.video or talk.author_photo %}with-aside{% endif %}">
        {% if talk.video %}
        <aside>
          <iframe src="{{ talk.video }}" allowfullscreen allowtransparency></iframe>
        </aside>
        {% elif talk.author_photo %}
        <aside>
          <div style="background-image: url('{{ talk.author_photo }}');"></div>
        </aside>
        {% endif %}
        <h2>
          {% if talk.author_link %}
          <a href="{{ talk.author_link }}">{{ talk.author }}</a>:
          {% else %}
          {{ talk.author }}:
          {% endif %}
          <em>{{ talk.title }}</em>
        </h2>
        <p>{{ talk.subtitle }}</p>
        <p>{{ talk.description }}</p>
      </li>
      {% endfor %}
    </ul>
  </main>

  <footer>
    Copyright © Deepwalker 2019
    &nbsp;•&nbsp;
    Нашел ошибку — присылай
    <a href="https://github.com/Deepwalker/samarajs/">pull request</a>
  </footer>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-4644907-4', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
